
.logo-container {
    margin: 0 auto;

}
.aviasales-app {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 960px;
    height: auto;
    background: #F3F7FA;
    font-family: 'Open Sans';
}

.logotype {
    margin: 32px auto 22px auto;
    width: 100px;
    height: 100px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
