.avisales-filter {
    background: #FFFFFF;
    border: 0;
    border-radius: 5px;
    width: 232px;
    height: 252px;
    padding: 0;
    margin: 0;
    box-shadow: 1px 2px 3px 3px #E5E5E5;
    position: absolute;
    left: 103px;
    top: 160px;
}

.inputs {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}

