.aviaSales-filter {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0;
    border-radius: 5px;
    width: 232px;
    height: 257px;
    padding: 0;
    box-shadow: 1px 2px 3px 3px #E5E5E5;
    .inputs {
        box-sizing: border-box;
        list-style: none;
        padding: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
    }

    .filters-head {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        margin: 20px auto 0 20px;
    }

    .input {
        position: absolute;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .inputs-item {
        display: flex;
        padding-top: 10px;
        padding-left: 20px;
        width: 212px;
        height: 30px;
    }

    .checkbox {
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url("../img/off.svg");
        margin-left: -2em;
        margin-bottom: 20px;
    }

    .check {
        padding-left: 2em;
        cursor: url("../img/Cursor.svg"), auto;
    }

    .inputs-item:hover {
        background: #F1FCFF;

    }
    .input:checked + .checkbox {
        background-image: url('../img/on.svg');
        background-position: center;
    }
}

@media (max-width: 800px) {
    .aviaSales-filter {
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        margin-bottom: 25px;
    }
}

